/* BASIC CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
html {
    scroll-behavior: smooth;
    font-size: 0.9em;
}

body {
    background-color: rgb(237, 227, 227);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    transition: all 0.5s;
}

header a,
footer a,
h2 {
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

/* HEADER STYLES */
header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    margin: 2rem;
}

header nav {
    width: 95%;
    margin-bottom: 3rem;
}

header nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header nav ul li a {
    background-color: white;
    display: block;
    padding: 1rem 2rem;
    margin-bottom: 0.3rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 1rem;
}

p {
    line-height: 1.5;
    padding: 1rem 1rem 2rem;
}

/* MAIN STYLES */
#intro img {
    max-width: 70%;
}

#portfolio {
    background-color: white;
    margin-bottom: 0;
}

#portfolio h2 {
    padding: 3rem 2rem;
}

.projects-container {
    /* padding: 0 1.5rem; */
    padding: 0 1rem;
}

.project {
    /* padding: 0 0.5rem; */
    padding-bottom: 2rem;
}

.project img {
    padding-bottom: 2rem;
}

#skills {
    background-color: rgb(39, 34, 34);
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 2rem 1rem 3rem;
}

#skills ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills li {
    /* line-height: 2.5; */
    background-color: darkblue;
    /* display: block; */
    /* width: 50%; */
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    /* font-size: 1.1em; */
    /* background-color: darkblue;
    display: inline-block;
    padding: 1rem;
    border-radius: 10px; */
}

footer {
    padding-bottom: 1rem;
}

/* FOOTER STYLES */
#contact h2 {
    margin: 3rem 2rem 0.5rem;
}

address {
    font-style: normal;
    margin-bottom: 5rem;
}

address div {
    margin-bottom: 1rem;
}

address a {
    text-transform: none;
}

footer hr {
    width: 90%;
    margin: 0 auto;
}

footer nav {
    font-size: 0.9rem;
    padding: 2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav ul {
    display: none;
}

/* MEDIA QUERY FOR TABLET SIZE */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
    a:hover,
    address a:hover {
        transform: scale(1.1);
        color: green;
    }
    header nav ul {
        flex-direction: row;
        justify-content: center;
    }
    header nav ul li a {
        background-color: inherit;
    }
    #intro {
        display: flex;
    }
    #intro p {
        text-align: left;
        padding: 0 2rem;
    }
    #intro img {
        width: 40%;
        order: 1;
        padding-right: 2rem;
    }
    .projects-container {
        display: flex;
        flex-wrap: wrap;
    }
    .project {
        width: 50%;
    }
    .project:nth-child(odd) img {
        padding-right: 0.5rem;
    }
    .project:nth-child(even) img {
        padding-left: 0.5rem;
    }
    footer p {
        padding: 1.5rem 7rem 2rem;
    }
    footer nav {
        font-size: 0.9rem;
        padding: 2rem 5%;
    }
    .mobile {
        display: none;
    }
    footer nav ul {
        display: flex;
    }
    footer nav ul li a {
        display: block;
        padding-left: 2rem;
    }
    #skills {
        padding: 3rem 5rem 4rem;
    }
    #skills ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}

/* MEDIA QUERY FOR DESKTOP SIZE */
@media screen and (min-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
        padding-right: 4rem;
    }
    header nav {
        width: auto;
        margin-bottom: 0;
    }
    header nav ul li a {
        padding: 1rem;
        /* transition: all 0.5s; */
    }
    header nav ul li:last-child a {
        margin-right: -1rem;
    }
    header nav ul li a:hover {
        /* transform: scale(1.1); */
    }
    #intro p {
        padding: 0 4rem;
    }
    #intro img {
        padding-right: 4rem;
    }
    #portfolio {
        margin: 0 2rem;
    }
    .project {
        width: 33.3333%;
        font-size: 0.9rem;
    }
    .project img {
        padding-bottom: 1.5rem;
    }
    .project p {
        padding: 1rem 0.6rem 2rem;
    }
    footer p {
        width: 80%;
        margin: 1rem auto;
    }
    #skills {
        margin: 0 2rem;
    }
}
